<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bob's Burgers</title>
		<link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">

    </head>
    <body>
    <div class='container'>
        {{{body}}}
    </div>
        <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
    </body>
</html>